h4 Cart Summary
hr
h3 = number_to_currency(cart.total)
b.shipping Shipping method
p.shipping Items are shipped when all deals in your order have completed
p.shipping: b Australian Customers Only
a class="shipping" href="/shipping-information" style="font-size: 12px;" target="_blank" Shipping and Delivery Information
hr class="break"
= link_to 'Checkout', checkout_path(:details), class: 'btn-blue'
= link_to 'Continue Shopping', root_path, class: 'continue-link'
p.payment-methods
  span style="display: block;": b Available Payment Methods
  = image_tag "payment_methods.png", style: "display: inline-block;"
  = image_tag "amex.png", style: "display: inline-block; margin-left: 4px;"
