= react_component('Navigation', { navLinks: nav_links, 
                                  cartQuantity: session_cart.cart_quantity,
                                  accountPath: account_root_path, 
                                  cartPath: cart_index_path}, 
                                  { prerender: true }) 
