// Place all the styles related to the deal controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.pagination-container {
  text-align: center;
}

.modal-open {
  overflow: auto;
}

// INDEX.HTML.SLIM
.filter-panel {
  background-color: #FFFFFF;
  padding: 5px;
  border: 1px solid #E5E5E5;

  h3 {
    color: #141414;
    margin-top: 0px;
    text-align: center;
    padding-top: 5px;
  }

  ul {
    padding: 0;
    list-style: none;
    text-align: center;

    li {
      padding: 3px;

      a {
        font-size: 13px;
      }
    }
  }
}

.product-box {
  width: 100%;
  margin-bottom: 25px;
  border: 1px solid #E5E5E5;
  position: relative;

  @media (max-width: 768px) {
    margin: 0 auto;
    margin-bottom: 30px;
  }

  a.product-link {
    text-decoration: none;
  }

  .product-img{
    background-color: #fff;
    border-bottom: 1px solid #F0F0F0;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
  }

  .price-box {
    margin-right: 10px;
    display: inline-block;

    @media(min-width: $screen-sm-min){
      margin-right: 0px;
    }

    @media(max-width: $screen-xs-max) {
      margin-right: 5px;
    }
  }

  .product-content {
    background: #fff;
    padding: 15px 10px 10px 10px;
    min-height: 90px;

    .title {
      margin-bottom: 3px;
      font-size: 1.1em;
      margin-top: 0;
      padding-top: 0;
      color: #353535;
      text-transform: uppercase;
      text-overflow: clip;
      white-space: nowrap;
      overflow: hidden;
      margin-bottom: 20px;

      @media (max-width: 769px) {
        font-size: 0.8em !important;
      }
    }

    h4 {
      font-family: inherit;
    }

    p {
      color: #595959;
      margin-bottom: 0;
      min-height: 40px;
      font-size: 0.8em;
      text-overflow: ellipsis;
      overflow: hidden;
      height: 38px;
      margin-bottom: 12px
    }

    .product-bottom {
      bottom: 0;
      right: 0;
      left: 0;
      position: absolute;
      padding-bottom: 10px;
      padding-left: 10px;

      img {
        height: 40px;
        position: absolute;
        right: 7px;
        bottom: 5px;

        @media(max-width: $screen-xs-max){
          height: 37px;
          bottom: 4px;
        }
      }

      span {
        @media(max-width: $screen-xs-max) {
          font-size: 14px;
        }
        @media(min-width: $screen-sm-min) {
          font-size: 14px;
        }
      }
    }
  }
}

@mixin pricing {
  display: inline-block;
  padding-left: 0 !important;
  margin-left: 0px;
  margin-right: 4px;
  h4 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 1em;
  }
}

.product-price {
  @include pricing;
  display: inline-block;
  h4 {
    color: #15A447;
    font-size: 18px;
    font-weight: bold;
  }
}

.product-original-price {
  @include pricing;
  display: block;
  h4 {
    text-decoration: line-through;
    font-size: 13px;
    margin-right: 5px;
    color: #868686;
    font-weight: 100;

    @media only screen and (max-width: 991px) {
      font-size: 11px;
    }
  }
}

.product-discount {
  @include pricing;
  h4 {
    color: #15A447;
    font-size: 18px;
    font-weight: bold;
  }
}

.price {
  display: inline;
  font-family: 'Overlock', cursive;
  margin: 5px;
  font-weight: bold;
  text-decoration: line-through;
}

.discount {
  display: inline;
  font-family: 'Overlock', cursive;
  margin: 5px;
  font-weight: bold;
  font-size: 26px;
  color: green;
  margin-left: 40px;
}

.product-item-box {
  border: 1px solid #000;
  background: #fff;
  border: 1px solid #E9E9E9;
  padding: 20px;
}

// SHOW.HTML.SLIM
.single-deal-time {
  text-align: center;
  border: 2px solid #FF6B00;
  max-width: 400px;
  padding: 10px;
  font-weight: bold;
  text-transform: uppercase;
  color: #47423D;

  span {
    font-size: 1em;
  }
}

.show-item {
  .time-remaining {
    margin-top: 10px;
  }
}

.gallery {
  margin: 0 auto;
  margin-bottom: 10px;

  .elastislide-wrapper {
    min-height: 0;
    box-shadow: none;
    padding: 10px 50px;
    nav span {
      background-color: #00B8FF;
    }
  }
  .elastislide-list {
    li {
      border: 2px solid #fff;
      margin-right: 3px;
    }
    .current-img {
      border: 2px solid #FF8500;
    }
  }

  #preview {
    display: block;
    margin-left: auto;
    margin-right: auto
  }
}

.default-panel {
  background: #ffffff;
  padding: 30px 20px 20px 20px;
  border: 1px solid #DDDDDD;

  @media (max-width: 768px) {
    padding: 25px;
  }

  .show-title {
    margin-bottom: 50px;
    margin-left: 20px;
    color: #282828;
    font-size: 1.5em;

    @media(max-width: $screen-xs-max) {
      font-size: 1.2em;
      margin-left: 10px
    }
  }

  .show-price {
    display: inline;

    .original-price {
      color: #ff6501;
      padding-right: 10px;
      text-decoration: line-through;
      margin-right: 0px;
      font-size: 20px;
      position: relative;
      top: -2px;
    }

    .current-price {
      color: #04aff7;
      font-weight: bold;
      font-size: 30px;
      padding-right: 10px;
    }
  }

  .quantity-wrapper {
    display: inline-block;
    margin-left: 15px;
    margin-right: 15px;

    .show-quantity {
      max-width: 60px;
      margin-right: 10px;
    }
  }

  h1.joy {
    font-size: 1.225em;
    color: #1C1C1C;
    margin-bottom: 10px
  }

  h2.share {
    font-size: 1.0em;
    color: #7C7C7C;
    margin-top: 10px;
  }

  .product-features {
    h1.features {
      font-size: 1.225em;
      color: #1C1C1C;
      margin-bottom: 10px
    }

    ul {
      font-size: 1.4rem;

      li {
        margin-bottom: 5px;
      }
    }
  }
}

.item-show-info {
  h3 {
    margin-top: 0;
    text-transform: uppercase;
    border-bottom: 1px solid;
  }

  ul {
    padding-left: 18px;
  }
}

.show-referal {
  a {
    text-align: center;
    background: #fff;
    color: #ffffff;
    padding: 5px 20px;
    margin-right: 3%;
    display: inline-block;
    text-decoration: none;
    border-radius: 2px;
    i {
      margin-right: 8px;
    }
  }
 .facebook {
   border: 1px solid #3B5998;
   background: #FFFFFF;
   color: #3B5998;
  }
  .twitter {
    border: 1px solid #4099FF;
    background: #FFFFFF;
    color: #4099FF;
  }
  .email {
    background: #FFFFFF;
  }
}

.alert {
  margin-top: 10px;
}

@media (max-width: 991px) {
  .current-price { font-size: 25px !important; }
  .original-price { top: 0 !important; }
  .email, .facebook, .twitter {
    font-size: 1.4rem;
  }
}

.modal-content {
  border-radius: 0px;

  .modal-body {
    padding: 25px 15px;
  }
}

.deal-features {
  ul {
    padding-left: 18px;
  }
}
