// Place all the styles related to the shopping/cart controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table.cart-table {
  background: #fff;

  border-radius: 0px;
  border: 1px solid #EBEBEB;
  thead {
    background: #1bc6f9;
    background: -moz-linear-gradient(top, #1bc6f9 0%, #2dc3ed 47%, #05abe0 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1bc6f9), color-stop(47%,#2dc3ed), color-stop(100%,#05abe0));
    background: -webkit-linear-gradient(top, #1bc6f9 0%,#2dc3ed 47%,#05abe0 100%);
    background: -o-linear-gradient(top, #1bc6f9 0%,#2dc3ed 47%,#05abe0 100%);
    background: -ms-linear-gradient(top, #1bc6f9 0%,#2dc3ed 47%,#05abe0 100%);
    background: linear-gradient(to bottom, #1bc6f9 0%,#2dc3ed 47%,#05abe0 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1bc6f9', endColorstr='#05abe0',GradientType=0 );
    color: white;

    th {
      text-align: center;
    }
  }

  // Cart item row
  tr.item {
    border: 1px solid #E7E7E7;
    td {
      border: 1px solid #E7E7E7;
      vertical-align: middle;
      text-align: center;

      .item-info {
        display: inline-block;

        .description {
          font-weight: bold;
          // font-size: 16px;
          color: #5C5757;
        }
        .item-price {
          display: block;
          text-align: left;
          color: #FF892D;
        }

      }
      .cart-item-total {
        color: #FF892D;
      }
      img {
        border: 1px solid #EBEBEB;
        display: inline-block;
        margin: 5px 30px 5px 5px;
      }
    }
    td.info {
      text-align: left;
      // white-space: nowrap;
    }
  }

  // Cart table footer
  tr.total {
    background: #F8F8F8;
    td {
    border-top: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    }
  }

  .order-total-box {
    display: block;
    margin-right: 2px;

    b.total {
      margin-right: 10px;
      color: #665F5F;
    }

    span.total {
      font-size: 17px;
      width: 60px;
      display: inline-block;
      text-align: right;
      color: #FF7000;
      font-weight: bold;
    }
  }

  .quantity-label {
    margin-right: 10px;
  }
  .quantity-input {
    width: 50px;
    display: inline;
    color: #5F5F5F;
  }

  .quantity-btn {
    margin-top: 10px;
    border: 0;
    padding: 5px 10px;
    color: #616161;
  }
}

// Cart summary box
.cart-summary {
  border: 1px solid #E4E4E4;
  border-top: 5px solid #31B4F1;
  padding: 10px 25px 15px 25px;
  background: #fff;

  h4 {
    margin-bottom: 3px;
    color: #00A3FF;
    margin-top: 5px;
    font-weight: bold;
  }

  h3 {
    color: #FF7000;
    font-weight: bold;
    margin-top: 15px;
    font-size: 27px;
  }

  b.shipping {
    font-size: 15px;
    margin-top: 15px;
    text-decoration: underline;
  }

  p.shipping {
    margin: 0;
  }

  button.shipping {
    margin-top: 10px;
    font-size: 12px;
    border: 0;
    background: inherit;
    padding: 0;
    color: #428bca;

  }

  hr {
    margin: 0;
    border-top: 1px solid #E6E6E6;
  }
  hr.break {
      margin-top: 10px;
      margin-bottom: 15px;
  }

  .continue-link {
    display: inline-block;
    margin-top: 10px;
    color: #383838;
    text-decoration: underline;
  }

  .payment-methods {
    margin: 0;
    margin-top: 8px;

    img {
      display: block;
      margin-top: 5px;
    }
  }
}

.mobile-cart {
  display: block;
  margin: 0;
  padding: 25px;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  width: 100%;
  background: #ffffff;
  border: 1px solid #C5C5C5;
  margin-bottom: 20px;

  .row {
    vertical-align: middle;
  }
  table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    text-align: right;
    tbody {
      margin: 0;
      padding: 0;
      border: 0;
      font-size: 100%;
      font: inherit;
      vertical-align: baseline;
      display: table-row-group;
      div.cart-img {
        text-align: left;
        float: left;
        img {
          width: 100%;
        }
      }
      .cart-desc {
        line-height: 1.3em;
        font-size: 1.1em;
        font-weight: 500;
      }
      .cart-delete {
        float: right;
        display: inline-block;
        color: #fff;
        background-color: #00aeff;
        height: 1.6rem;
        width: 1.7rem;
        text-align: center;
        float: none;
        margin-right: 15px;
      }
      .edit_cart_item {
        input[type=number] {
          display: inline-block;
          width: 60px;
        }
      }
      .cart_item_quantity {
        display: inline-block;
      }
      span.at-cost {
        height: 34px;
        line-height: 34px;
        display: inline-block;
        margin-top: -25px;
      }
    }
    .row tfoot {
      background-color: #e2e2e2;
    }
  }
}

.mobile-cart .row div, .mobile-cart .row span {
  padding: .5rem;
}

.forgot-link {
  color: #3e3e3e;
}

