// Place all the styles related to the shopping/cart controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.cart-items {
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 20px;

  table.cart-table {
    background: #fff;
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    text-align: right;
    border-radius: 0px;

    thead {
      background: #A4A4A4;
      color: white;

      th {
        background: #d5d5d5;
        color: #545454;
        text-align: center;
      }
    }

    .description {
      text-align: left;
    }

    .quantity-label {
      margin-right: 10px;
    }
    .quantity-input {
      width: 50px;
      display: inline;
      color: #5F5F5F;
    }

    tbody {
      margin: 0;
      padding: 0;
      border: 0;
      font-size: 100%;
      font: inherit;
      display: table-row-group;

      tr td {
        text-align: center;

        @media(max-width: $screen-xs-max) {
          text-align: left;
          padding-bottom: 20px;
          padding-left: 20px;
        }
      }

      div.cart-img {
        text-align: left;
        float: left;
        max-width: 120px;
        img {
          width: 100%;

          @media(max-width: $screen-xs-max) {
            margin-top: 20px;
          }
        }
      }
    }

    .quantity-btn {
      margin-top: 10px;
      border: 0;
      padding: 10px 15px;
      margin-bottom: 10px;
      border-radius: 4px !important;
    }
  }
}

// Cart summary box
.cart-summary {
  border: 1px solid #E4E4E4;
  border-top: 5px solid #31B4F1;
  padding: 10px 15px 15px 15px;
  background: #fff;

  h4 {
    margin-bottom: 3px;
    color: #00A3FF;
    margin-top: 5px;
    font-weight: bold;
  }

  h3 {
    color: #FF7000;
    font-weight: bold;
    margin-top: 15px;
    font-size: 27px;
  }

  b.shipping {
    font-size: 15px;
    margin-top: 15px;
    text-decoration: underline;
  }

  p.shipping {
    margin: 0;
  }

  button.shipping {
    margin-top: 10px;
    font-size: 12px;
    border: 0;
    background: inherit;
    padding: 0;
    color: #428bca;

  }

  hr {
    margin: 0;
    border-top: 1px solid #E6E6E6;

    .break {
      margin-top: 10px;
      margin-bottom: 15px;
    }
  }

  .continue-link {
    display: inline-block;
    margin-top: 10px;
    color: #383838;
    text-decoration: underline;
  }

  .payment-methods {
    margin: 0;
    margin-top: 8px;

    img {
      display: block;
      margin-top: 5px;
    }
  }
}

.forgot-link {
  color: #3e3e3e;
}
